
INSIGNIA_MODE=frontend
INSIGNIA_PORT=6969
INSIGNIA_LISTEN_ADDR=127.0.0.1
INSIGNIA_CORS_ENABLED=false
INSIGNIA_CORS_ORIGINS=http://localhost:5173,http://localhost:8080
INSIGNIA_WEBAUTHN_RP_ID=localhost
INSIGNIA_WEBAUTHN_RP_ORIGIN=http://localhost:5173
INSIGNIA_DB_CONN_STR=postgresql://insignia:supersecurepw@localhost/insignia
INSIGNIA_DRAGONFLY_CONN_STR=localhost:6379
INSIGNIA_FRONTEND_URL=http://localhost:6969
INSIGNIA_OAUTH_ISSUER_URL=http://localhost:5173
