
OTEL_ENDPOINT=http://localhost:4317
OTEL_SERVICE_NAME=insignia

INSIGNIA_MODE=frontend
INSIGNIA_PORT=6969
INSIGNIA_LISTEN_ADDR=127.0.0.1
INSIGNIA_CORS_ENABLED=false
INSIGNIA_CORS_ORIGINS=http://localhost:5173,http://localhost:8080
INSIGNIA_WEBAUTHN_RP_ID=localhost
INSIGNIA_WEBAUTHN_RP_ORIGIN=http://localhost:5173
INSIGNIA_DB_CONN_STR=postgresql://insignia:supersecurepw@localhost/insignia
INSIGNIA_DRAGONFLY_CONN_STR=localhost:6379
INSIGNIA_FRONTEND_URL=http://localhost:6969
INSIGNIA_OAUTH_ISSUER_URL=http://localhost:6969
INSIGNIA_AUTH_UI_URL=http://localhost:5173

INSIGNIA_SMS_OTP_PROVIDER=twilio

INSIGNIA_TWILIO_VERIFY_SID=
INSIGNIA_TWILIO_ACCOUNT_SID=
INSIGNIA_TWILIO_AUTH_TOKEN=

INSIGNIA_INFOBIP_BASE_URL=
INSIGNIA_INFOBIP_API_KEY=
INSIGNIA_INFOBIP_2FA_APP_ID=
INSIGNIA_INFOBIP_2FA_MESSAGE_TEMPLATE_ID=

INSIGNIA_PLASGATE_SECRET=
INSIGNIA_PLASGATE_PRIVATE_KEY=
INSIGNIA_PLASGATE_SENDER_NAME=

INSIGNIA_PHONE_OTP_IGNORE_USERS=+85512123123,+85512123124
INSIGNIA_IS_SINGLE_LOGIN_SESSION=no
